body,html{
    width:100%;
  }
  #reactDiv {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width:100%;
  }

  header{
    width:100%;
    background-color: #EBEBEB;
  }
  .bgimg{
    width:100%;
  }
  main {
    flex: 1;
    width:100%;
    background-color: #FFFDF7;
  }

  .container-fluid{
    width:100%;
    background-color: #EBEBEB;
  }
  .navbar-nav a {
    color:#1e312a;
  }
  
  .nav-link:hover{
    color:rgb(88, 192, 149);
  }
  .navbar-nav .nav-link:active,
  .navbar-nav .nav-link:focus {
    color: rgb(88, 192, 149);
  }
  .logoimg{
    margin-left: 5%;
  }
  #navbarNav{
    margin-left: 10px;
  }
  .cart{
    margin-right: 5%;
  }
  

  /* screen - tea */

.tea {
    align-items: center;
    background-color: #fffbf8;
    display: flex;
    flex-direction: column;
    height: 2679px;
    overflow: hidden;
    width: 100%;
  }
  
  .tea .flex-col {
    flex-direction: column;
    margin-right: 36.0px;
    margin-top: 104px;
    min-height: 911px;
    width: 972px;
  }
  
  .tea .overlap-group6 {
    height: 590px;
    position: relative;
    width: 573px;
  }
  
  .tea .overlap-group3 {
    height: 590px;
    left: 0;
    position: absolute;
    top: 0;
    width: 551px;
  }
  
  .tea .x03-1 {
    height: 410px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 180px;
    width: 280px;
  }
  
  .tea .frame-2 {
    align-items: flex-start;
    display: flex;
    gap: 28px;
    height: 426px;
    justify-content: flex-end;
    left: 61px;
    min-width: 490px;
    position: absolute;
    top: 0;
  }
  
  .tea .ellipse-24 {
    height: 381px;
    margin-top: 8px;
    width: 388px;
  }
  
  .tea .flex-col-1 {
    align-self: flex-end;
    margin-bottom: -85px;
    min-height: 454px;
    width: 507px;
  }
  
  .tea .advantages {
    color: var(--brown);
    font-weight: 400;
    line-height: normal;
    min-height: 25px;
    width: 125px;
  }
  
  .tea .the-hidden-health-benefits-of-tea {
    color: var(--greentea);
    font-weight: 700;
    line-height: normal;
    margin-top: 29px;
    width: 390px;
  }
  
  .tea .lorem-ipsum-dolor-si {
    color: var(--text);
    font-weight: 300;
    line-height: 30px;
    min-height: 239px;
    width: 507px;
  }
  
  .tea .since-2022 {
    color: var(--brown);
    font-weight: 400;
    left: 431px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 554px;
    white-space: nowrap;
  }
  
  .tea .why-choose-us {
    align-self: center;
    color: var(--greentea);
    font-weight: 700;
    line-height: normal;
    margin-left: 63.0px;
    margin-top: 14px;
    min-height: 56px;
    text-align: center;
    width: 525px;
  }
  
  .tea .lorem-ipsum-dolor-si-1 {
    align-self: flex-end;
    color: var(--text);
    font-weight: 300;
    line-height: 30px;
    margin-top: 30px;
    min-height: 221px;
    text-align: center;
    width: 908px;
  }
  
  .tea .asset-container {
    align-items: flex-start;
    display: flex;
    gap: 280px;
    margin-left: 54.0px;
    margin-top: 26px;
    min-width: 814px;
  }

  .text-container{
    align-items: flex-start;
    display: flex;
    font-size:x-large;
    gap: 9%;
    margin-top: 26px;
    min-width: 814px;
  }
  .tea .organic-products {
    color: var(--greentea);
    font-weight: 700;
    line-height: normal;
    min-height: 25px;
    text-align: center;
    white-space: nowrap;
    width: 237px;
  }
  
  .tea .great-customer-service {
    color: var(--greentea);
    font-weight: 700;
    line-height: normal;
    margin-left: 10%;
    min-height: 25px;
    text-align: center;
    white-space: nowrap;
    width: 307px;
  }
  
  .tea .natural-ingredients {
    color: var(--greentea);
    font-weight: 700;
    line-height: normal;
    margin-left: 10%;
    min-height: 51px;
    text-align: center;
    width: 237px;
  }
  
  .tea .asset {
    height: 85px;
    object-fit: cover;
    width: 84px;
  }
  
  .tea .asset-44x {
    height: 85px;
    object-fit: cover;
    width: 86px;
  }
  
  .tea .flex-row {
    align-self: flex-start;
    gap: 685px;
    height: 9590px;
    margin-left: -4002px;
    margin-top: 38px;
    min-width: 6214px;
  }
  
  .tea .flex-col-2 {
    align-self: flex-end;
    min-height: 4490px;
    width: 597px;
  }
  
  .tea .flex-col-3 {
    min-height: 8979px;
    width: 4932px;
  }
  
  .tea .flex-row-1 {
    align-items: flex-start;
    align-self: flex-end;
    display: flex;
    gap: 1708px;
    height: 6615px;
    min-width: 4633px;
  }
  
  .tea .mask-group-2 {
    align-self: flex-end;
    height: 580px;
    width: 583px;
  }
  
  .tea .flex-col-4 {
    min-height: 6322px;
    width: 2342px;
  }
  
  .tea .flex-row-2 {
    align-items: flex-start;
    display: flex;
    /* height: 51px; */ /* Remove or adjust height */
    margin-left: 2%; /* Adjust margin for better spacing */
    /* min-width: 966px; */ /* Remove or adjust min-width */
    width: 80%; /* Set width to a percentage for responsiveness */
  }
  
  
  


  .tea .frame-container {
    
    height: 1493px;
    margin-left: 6%;
    margin-top: 400px;
    position: relative;
    width: 100%;
  }
  
  .tea .frame-4 {
    align-items: flex-start;
    display: flex;
    height: 1023px;
    left: 0;
    min-width: 1659px;
    position: absolute;
    top: 0;
  }
  
  .tea .bag-fill-frame-1 {
    align-self: flex-end;
    height: 21px;
    margin-bottom: -1038px;
    margin-left: -2631px;
    width: 18px;
  }
  
  .tea .arrow-container {
    align-items: flex-start;
    align-self: flex-end;
    display: flex;
    gap: 6px;
    margin-bottom: -334px;
    margin-left: 242px;
    min-width: 40px;
  }
  
  .tea .arrow {
    height: 20px;
    width: 17px;
  }
  
  .tea .flex-col-5 {
    margin-left: 2354px;
    margin-top: -267px;
    min-height: 1021px;
    width: 1158px;
  }
  
  .tea .flex-col-6 {
    gap: 82px;
    min-height: 511px;
    width: 1158px;
  }
  
  .tea .our-unique-tea-blends {
    color: var(--greentea);
    font-weight: 700;
    line-height: normal;
    min-height: 56px;
    width: 525px;
  }
  
  .tea .overlap-group-container {
    align-items: flex-start;
    align-self: flex-end;
    display: flex;
    gap: 23px;
    min-width: 1056px;
  }
  
  .tea .overlap-group1 {
    height: 373px;
    position: relative;
    width: 317px;
  }
  
  .tea .rectangle-8 {
    background-color: var(--cararra);
    border-radius: 40px;
    height: 373px;
    left: 108px;
    position: absolute;
    top: 0;
    width: 209px;
  }
  
  .tea .x01-dry-gynostemma-pe {
    height: 189px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 83px;
    width: 200px;
  }
  
  .tea .overlap-group {
    height: 373px;
    position: relative;
    width: 716px;
  }
  
  .tea .rectangle-12 {
    background-color: var(--cararra);
    border-radius: 40px;
    height: 373px;
    left: 131px;
    position: absolute;
    top: 0;
    width: 209px;
  }
  
  .tea .rectangle-13 {
    background-color: var(--cararra);
    border-radius: 40px;
    height: 373px;
    left: 490px;
    position: absolute;
    top: 0;
    width: 209px;
  }
  
  .tea .x03-top-view-powder-g {
    height: 331px;
    left: 244px;
    object-fit: cover;
    position: absolute;
    top: 13px;
    width: 472px;
  }
  
  .tea .x02-dry-oolong-tea-le {
    height: 241px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 58px;
    width: 262px;
  }
  
  .tea .flex-row-3 {
    align-items: flex-end;
    display: flex;
    height: 28px;
    margin-left: 46px;
    margin-top: 14px;
    min-width: 904px;
  }
  
  .tea .gynostemma-tea {
    letter-spacing: 0;
    line-height: normal;
    min-height: 23px;
    min-width: 157px;
    white-space: nowrap;
  }
  
  .tea .oolong-tea {
    letter-spacing: 0;
    line-height: normal;
    margin-left: 284px;
    min-height: 23px;
    min-width: 101px;
    white-space: nowrap;
  }
  
  .tea .surname {
    align-self: flex-start;
    letter-spacing: 0;
    line-height: normal;
    margin-left: 272px;
    min-height: 23px;
    white-space: nowrap;
  }
  
  .tea .bag-fill-frame-container {
    align-items: flex-start;
    align-self: center;
    display: flex;
    gap: 469px;
    margin-left: 191.0px;
    margin-top: 447px;
    min-width: 505px;
  }
  
  .tea .bag-fill-frame {
    height: 21px;
    width: 18px;
  }
  
  .tea .rectangle-11 {
    background-color: var(--cararra);
    border-radius: 40px;
    height: 602px;
    margin-left: 280px;
    margin-top: 101px;
    width: 463px;
  }
  
  .tea .frame-6 {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    gap: 95px;
    left: 6px;
    min-height: 712px;
    position: absolute;
    top: 781px;
    width: 818px;
  }
  
  .tea .sometimes-all-you-n {
    color: var(--greentea);
    font-weight: 700;
    line-height: normal;
    margin-right: -97px;
    margin-top: -352px;
    min-height: 112px;
    text-align: center;
    width: 715px;
  }
  
  .tea .flex-row-4 {
    align-items: flex-start;
    display: flex;
    gap: 49px;
    height: 346px;
    margin-right: -262px;
    min-width: 1126px;
  }
  
  .tea .x100-organic-et-male {
    align-self: flex-end;
    color: transparent;
    font-weight: 400;
    line-height: 30px;
    min-height: 344px;
    text-align: right;
    width: 555px;
  }
  
  .tea .span {
    color: var(--greentea);
    font-weight: 700;
  }
  
  .tea .span-1 {
    color: var(--text);
    font-weight: 300;
  }
  
  .tea .span-2 {
    letter-spacing: 0;
  }
  
  .tea .rectangle-31 {
    height: 338px;
    width: 522px;
  }
  
  .tea .overlap-group5 {
    align-self: flex-end;
    height: 630px;
    margin-top: 1174px;
    position: relative;
    width: 686px;
  }
  
  .tea .x06-1 {
    height: 476px;
    left: 184px;
    object-fit: cover;
    position: absolute;
    top: 78px;
    width: 483px;
  }
  
  .tea .x03-3 {
    height: 630px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 686px;
  }
  
  .tea .x03-5 {
    align-self: center;
    height: 468px;
    margin-left: 223.0px;
    margin-top: 900px;
    object-fit: cover;
    width: 559px;
  }
  
  .tea .x06-2 {
    height: 552px;
    margin-left: 110px;
    margin-top: 36px;
    object-fit: cover;
    width: 558px;
  }
  
  .tea .x03-4 {
    height: 559px;
    margin-top: 54px;
    object-fit: cover;
    width: 608px;
  }
  
  .tea .overlap-group4 {
    height: 585px;
    margin-left: 27.37px;
    margin-top: 622px;
    position: relative;
    width: 835px;
  }
  
  .tea .x04-1 {
    height: 585px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 552px;
  }
  
  .tea .mask-group-4 {
    height: 367px;
    left: 550px;
    position: absolute;
    top: 185px;
    width: 285px;
  }
  
  .tea .flex {
    align-items: flex-start;
    display: flex;
  }
  
  .tea .flex-col-7 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }
  


  .frame {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height:300px;
  background-color: #1e312a;
}

.frame .overlap-group-wrapper {
  width: 100%;
  height: auto;
}

.frame .overlap-group {
  position: relative;
  height: 300px;
  top: 29px;
  background-color: var(--logo);
}

.frame .socila-icons {
  display: inline-flex;
  align-items: flex-start;
  gap: 39px;
  position: absolute;
  top: 200px;
  left: 43%;
}

.frame .img {
  position: relative;
  width: 24px;
  height: 24px;
}

.frame .sitemap {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 50px;
  left: 5%;
  color: #FFFDF7;
}

.frame .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Philosopher-Bold", Helvetica;
  font-weight: 700;
  color: var(--newgreenlight);
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .div {
  position: relative;
  width: fit-content;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: var(--newgreenlight);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .div-wrapper {
  display: inline-flex;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.frame .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: var(--newgreenlight);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .sitemap-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 50px;
  right:5%;
  color: #FFFDF7;
}

.frame .line {
  width: 1px;
  height: 134px;
  top: 97px;
  left: 728px;
  position: absolute;
  object-fit: cover;
}

.frame .line-2 {
  width: 1px;
  height: 134px;
  top: 97px;
  left: 1193px;
  position: absolute;
  object-fit: cover;
}

.frame .line-3 {
  width: 1920px;
  height: 1px;
  top: 342px;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.frame .text-wrapper-3 {
  position: absolute;
  bottom: 0;
  width:100%;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: #FFFDF7;
  background-color: #1e312a;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: revert;
  white-space: nowrap;
}

.frame .whitetrans {
  position: absolute;
  width: 320px;
  height: 151px;
  top: 20px;
  left: 40%;
  object-fit: cover;
}
