body,html{
    width:100%;
  }
  #reactDiv {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width:100%;
  }

  header{
    width:100%;
    background-color: #FFFDF7;
    
  }
  .bgimg{
    width:100%;
  }
  main {
    flex: 1;
    width:100%;
    background-color: #FFFDF7;
  }

  .navbar {
    border-bottom: 0.1px solid black;
  }
  .container-fluid{
    width:100%;
    background-color: #FFFDF7;
  }
  .navbar-nav a {
    color:#1e312a;
    font-family: "Philosopher-Bold", Helvetica;
    
  }
  
  .nav-link:hover{
    color:rgb(88, 192, 149);
  }
  .navbar-nav .nav-link:active,
  .navbar-nav .nav-link:focus {
    color: rgb(88, 192, 149);
  }
  .logoimg{
    margin-left: 5%;
  }
  #navbarNav{
    margin-left: 10px;
  }
  .cart{
    margin-right: 5%;
  }
  

  /* screen - tea */

.tea {
  align-items: center;
  background-color: #fffbf8;
  display: flex;
  flex-direction: column;
  height: 2679px;
  overflow: hidden;
  width: 1280px;
}

.tea .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: 36.0px;
  margin-top: 104px;
  min-height: 911px;
  width: 972px;
}

.tea .overlap-group6 {
  height: 590px;
  position: relative;
  width: 573px;
}

.tea .overlap-group2 {
  height: 590px;
  left: 0;
  position: absolute;
  top: 0;
  width: 551px;
}

.tea .x03-1 {
  height: 410px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 180px;
  width: 280px;
}

.tea .frame-2 {
  align-items: flex-start;
  display: flex;
  gap: 28px;
  height: 426px;
  justify-content: flex-end;
  left: 61px;
  min-width: 490px;
  position: absolute;
  top: 0;
}

.tea .ellipse-24 {
  height: 381px;
  margin-top: 8px;
  width: 388px;
}

.tea .flex-col-1 {
  align-items: flex-start;
  align-self: flex-end;
  margin-bottom: -85px;
  min-height: 454px;
  width: 507px;
}

.tea .advantages {
  color: var(--brown);
  font-weight: 400;
  line-height: normal;
  min-height: 25px;
  width: 125px;
}

.tea .the-hidden-health-benefits-of-tea {
  color: var(--greentea);
  font-weight: 700;
  line-height: normal;
  margin-top: 29px;
  min-height: 161px;
  width: 390px;
}

.tea .lorem-ipsum-dolor-si {
  color: var(--text);
  font-weight: 300;
  line-height: 30px;
  min-height: 239px;
  width: 507px;
}

.tea .since-2022 {
  color: var(--brown);
  font-weight: 400;
  left: 431px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 554px;
  white-space: nowrap;
}

.tea .why-choose-us {
  align-self: center;
  color: var(--greentea);
  font-weight: 700;
  line-height: normal;
  margin-left: 63.0px;
  margin-top: 14px;
  min-height: 56px;
  text-align: center;
  width: 525px;
}

.tea .lorem-ipsum-dolor-si-1 {
  align-self: flex-end;
  color: var(--text);
  font-weight: 300;
  line-height: 30px;
  margin-top: 30px;
  min-height: 221px;
  text-align: center;
  width: 908px;
}

.tea .asset-container {
  align-items: flex-start;
  display: flex;
  gap: 280px;
  margin-left: 54.0px;
  margin-top: 26px;
  min-width: 814px;
}

.tea .asset {
  height: 85px;
  object-fit: cover;
  width: 84px;
}

.tea .asset-44x {
  height: 85px;
  object-fit: cover;
  width: 86px;
}

.tea .flex-row {
  align-items: center;
  align-self: flex-start;
  display: flex;
  gap: 94px;
  height: 8979px;
  margin-left: -3936.49px;
  margin-top: 38px;
  min-width: 6148px;
}

.tea .flex-col-2 {
  align-items: flex-end;
  min-height: 8979px;
  width: 5368px;
}

.tea .flex-row-1 {
  align-items: flex-start;
  display: flex;
  height: 51px;
  margin-right: 282.0px;
  min-width: 966px;
}

.tea .organic-products {
  color: var(--greentea);
  font-weight: 700;
  line-height: normal;
  min-height: 25px;
  text-align: center;
  white-space: nowrap;
  width: 237px;
}

.tea .great-customer-service {
  color: var(--greentea);
  font-weight: 700;
  line-height: normal;
  margin-left: 93px;
  min-height: 25px;
  text-align: center;
  white-space: nowrap;
  width: 307px;
}

.tea .natural-ingredients {
  color: var(--greentea);
  font-weight: 700;
  line-height: normal;
  margin-left: 92px;
  min-height: 51px;
  text-align: center;
  width: 237px;
}

.tea .our-unique-tea-blends {
  color: var(--greentea);
  font-weight: 700;
  line-height: normal;
  margin-right: 785.0px;
  margin-top: 138px;
  min-height: 56px;
  width: 525px;
}

.tea .overlap-group-container {
  align-items: flex-start;
  display: flex;
  gap: 23px;
  margin-right: 226.0px;
  margin-top: 82px;
  min-width: 1056px;
}

.tea .overlap-group1 {
  height: 373px;
  position: relative;
  width: 317px;
}

.tea .rectangle-8 {
  background-color: var(--cararra);
  border-radius: 40px;
  height: 373px;
  left: 108px;
  width: 209px;
}

.tea .x01-dry-gynostemma-pe {
  height: 189px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 83px;
  width: 200px;
}

.tea .overlap-group5 {
  height: 373px;
  position: relative;
  width: 716px;
}

.tea .rectangle-12 {
  background-color: var(--cararra);
  border-radius: 40px;
  height: 373px;
  left: 131px;
  width: 209px;
}

.tea .rectangle-13 {
  background-color: var(--cararra);
  border-radius: 40px;
  height: 373px;
  left: 490px;
  width: 209px;
}

.tea .x03-top-view-powder-g {
  height: 331px;
  left: 244px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 472px;
}

.tea .x02-dry-oolong-tea-le {
  height: 241px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 58px;
  width: 262px;
}

.tea .flex-row-2 {
  align-items: flex-end;
  display: flex;
  height: 28px;
  margin-right: 434.0px;
  margin-top: 14px;
  min-width: 904px;
}

.tea .gynostemma-tea {
  letter-spacing: 0;
  line-height: normal;
  min-height: 23px;
  min-width: 157px;
  white-space: nowrap;
}

.tea .oolong-tea {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 284px;
  min-height: 23px;
  min-width: 101px;
  white-space: nowrap;
}

.tea .surname {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 272px;
  min-height: 23px;
  white-space: nowrap;
}

.tea .sometimes-all-you-n {
  color: var(--greentea);
  font-weight: 700;
  line-height: normal;
  margin-right: 412.0px;
  margin-top: 143px;
  min-height: 112px;
  text-align: center;
  width: 715px;
}

.tea .overlap-group-container-1 {
  align-items: flex-start;
  display: flex;
  gap: 49px;
  height: 346px;
  margin-right: 247.0px;
  margin-top: 95px;
  min-width: 1126px;
}

.tea .overlap-group4 {
  align-self: flex-end;
  height: 344px;
  position: relative;
  width: 555px;
}

.tea .bag-fill-frame {
  height: 21px;
  left: 485px;
  position: absolute;
  top: 95px;
  width: 18px;
}

.tea .x100-organic-et-male {
  color: transparent;
  font-weight: 400;
  left: 0;
  line-height: 30px;
  position: absolute;
  text-align: right;
  top: 0;
  width: 555px;
}

.tea .span {
  color: var(--greentea);
  font-weight: 700;
}

.tea .span-1 {
  color: var(--text);
  font-weight: 300;
}

.tea .span-2 {
  letter-spacing: 0;
}

.tea .overlap-group {
  height: 338px;
  position: relative;
  width: 522px;
}

.tea .bag-fill-frame-1 {
  left: 368px;
  position: absolute;
  top: 97px;
}

.tea .rectangle-31 {
  height: 338px;
  left: 0;
  width: 522px;
}

.tea .bag-fill-frame-2 {
  align-self: center;
  margin-right: 2471.51px;
  margin-top: 2678px;
}

.tea .flex-row-3 {
  align-items: flex-start;
  display: flex;
  height: 1056px;
  margin-top: 516px;
  min-width: 5368px;
}

.tea .x03-2 {
  align-self: center;
  height: 429px;
  margin-top: 267.0px;
  object-fit: cover;
  width: 467px;
}

.tea .x06-2 {
  align-self: flex-end;
  height: 552px;
  margin-left: 3449px;
  object-fit: cover;
  width: 558px;
}

.tea .x03-5 {
  height: 468px;
  margin-left: 335px;
  object-fit: cover;
  width: 559px;
}

.tea .x03-4 {
  height: 559px;
  margin-right: 954.0px;
  margin-top: 54px;
  object-fit: cover;
  width: 608px;
}

.tea .x04-1 {
  align-self: flex-start;
  height: 585px;
  margin-left: 1179.49px;
  margin-top: 2071px;
  object-fit: cover;
  width: 552px;
}

.tea .overlap-group3 {
  height: 630px;
  margin-bottom: 2102.69px;
  position: relative;
  width: 686px;
}

.tea .x06-1 {
  height: 476px;
  left: 184px;
  object-fit: cover;
  position: absolute;
  top: 78px;
  width: 483px;
}

.tea .x03-3 {
  height: 630px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 686px;
}

.tea .bag-fill-frame-3 {
  height: 21px;
  width: 18px;
}

.tea .flex-col-3 {
  display: flex;
  flex-direction: column;
}

.tea .rectangle {
  position: absolute;
  top: 0;
}



  

  /* footer */
  .frame {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height:300px;
  background-color: #1e312a;
}

.frame .overlap-group-wrapper {
  width: 100%;
  height: auto;
}

.frame .overlap-group {
  position: relative;
  height: 300px;
  top: 29px;
  background-color: var(--logo);
}

.frame .socila-icons {
  display: inline-flex;
  align-items: flex-start;
  gap: 39px;
  position: absolute;
  top: 200px;
  left: 43%;
}

.frame .img {
  position: relative;
  width: 24px;
  height: 24px;
}

.frame .sitemap {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 50px;
  left: 5%;
  color: #FFFDF7;
}

.frame .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Philosopher-Bold", Helvetica;
  font-weight: 700;
  color: var(--newgreenlight);
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .div {
  position: relative;
  width: fit-content;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: var(--newgreenlight);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .div-wrapper {
  display: inline-flex;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.frame .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: var(--newgreenlight);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.frame .sitemap-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 50px;
  right:5%;
  color: #FFFDF7;
}

.frame .line {
  width: 1px;
  height: 134px;
  top: 97px;
  left: 728px;
  position: absolute;
  object-fit: cover;
}

.frame .line-2 {
  width: 1px;
  height: 134px;
  top: 97px;
  left: 1193px;
  position: absolute;
  object-fit: cover;
}

.frame .line-3 {
  width: 1920px;
  height: 1px;
  top: 342px;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.frame .text-wrapper-3 {
  position: absolute;
  bottom: 0;
  width:100%;
  font-family: "Roboto-Light", Helvetica;
  font-weight: 300;
  color: #FFFDF7;
  background-color: #1e312a;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: revert;
  white-space: nowrap;
}

.frame .whitetrans {
  position: absolute;
  width: 320px;
  height: 151px;
  top: 20px;
  left: 40%;
  object-fit: cover;
}
